.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#chat {
  overflow-y: scroll;
display: none;
    max-width: 800px;
    padding: 0 20px;
}

.first {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.second {
    border-color: #ccc;
    background-color: #ddd;
}


div.ex1 {

    height: 400px;
    width: 100%;
    overflow-y: scroll;
}
